## Unstacking a multi index

In [20]:
import pandas as pd
id = [x for x in range(1, 5)]

dict = {'id': id, 
        'treatment' : ['A', 'A', 'B', 'B'], 
        'gender': ['F', 'M', 'F', 'M'], 
        'response': [5, 3, 8, 9]}
df = pd.DataFrame(dict)
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>gender</th>
      <th>id</th>
      <th>response</th>
      <th>treatment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>F</td>
      <td>1</td>
      <td>5</td>
      <td>A</td>
    </tr>
    <tr>
      <th>1</th>
      <td>M</td>
      <td>2</td>
      <td>3</td>
      <td>A</td>
    </tr>
    <tr>
      <th>2</th>
      <td>F</td>
      <td>3</td>
      <td>8</td>
      <td>B</td>
    </tr>
    <tr>
      <th>3</th>
      <td>M</td>
      <td>4</td>
      <td>9</td>
      <td>B</td>
    </tr>
  </tbody>
</table>
</div>

In [21]:
df = df.set_index(['treatment', 'gender'])
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>id</th>
      <th>response</th>
    </tr>
    <tr>
      <th>treatment</th>
      <th>gender</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">A</th>
      <th>F</th>
      <td>1</td>
      <td>5</td>
    </tr>
    <tr>
      <th>M</th>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">B</th>
      <th>F</th>
      <td>3</td>
      <td>8</td>
    </tr>
    <tr>
      <th>M</th>
      <td>4</td>
      <td>9</td>
    </tr>
  </tbody>
</table>
</div>

In [22]:
df.unstack(level='gender')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }

    .dataframe thead tr:last-of-type th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th colspan="2" halign="left">id</th>
      <th colspan="2" halign="left">response</th>
    </tr>
    <tr>
      <th>gender</th>
      <th>F</th>
      <th>M</th>
      <th>F</th>
      <th>M</th>
    </tr>
    <tr>
      <th>treatment</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>A</th>
      <td>1</td>
      <td>2</td>
      <td>5</td>
      <td>3</td>
    </tr>
    <tr>
      <th>B</th>
      <td>3</td>
      <td>4</td>
      <td>8</td>
      <td>9</td>
    </tr>
  </tbody>
</table>
</div>

In [29]:
stacked = df.stack(level=None)
stacked

treatment  gender
A          F       id          1
                   response    5
           M       id          2
                   response    3
B          F       id          3
                   response    8
           M       id          4
                   response    9
dtype: int64

## Switching index levels

E.g. switch between treatment and gender index levels

In [30]:
swapped = stacked.swaplevel(0, 1)
swapped

gender  treatment
F       A          id          1
                   response    5
M       A          id          2
                   response    3
F       B          id          3
                   response    8
M       B          id          4
                   response    9
dtype: int64

Rows are still in the same order

### Sorting rows

In [31]:
sorted_trials = swapped.sort_index()
sorted_trials

gender  treatment
F       A          id          1
                   response    5
        B          id          3
                   response    8
M       A          id          2
                   response    3
        B          id          4
                   response    9
dtype: int64